#pic {
  height: 450px;
  width: 450px;
}

.header {
  font-family: Roboto;
  color: rgb(92, 117, 173);
}

.button {
  transition: all .5s ease;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(47, 63, 99);
  background-color: transparent;
  height: 40px;
  width: 140px;
  color: rgb(47, 63, 99);
  border-radius: 4px;
}

.button:hover {
  background-color: rgb(47, 63, 99);
  color: white;
  
}